*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
html{
    scroll-behavior: smooth;
}

/* Starting navigation bar  */

.Nav_Bar{
    /* background-color: rgba(9, 9, 9, 0.928); */
    background:#130808;
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    padding: 1.5vw 4vw;
    top: 0;
    position: sticky;
    z-index: 20;
    visibility:hidden;
    opacity:0;
    animation: show-content 1.5s linear forwards;
    animation-delay:1.2s;

    /* margin-bottom: 2vw; */
}

@keyframes show-content{
    100%{
        visibility:visible;
        opacity:1;
    }
}

.Nav_Bar .logo a{
    font-weight: bold;
    font-size: 3vw;
    text-decoration: none;
    color: whitesmoke;
}

.Nav_Bar ul{
    display: flex;
    padding: 1.3vw 1vw 0vw 1vw;
}

.Nav_Bar ul li{
    padding: 0vw 1vw;
    list-style: none;
    cursor: pointer;
}

.Nav_Bar ul li a{
    font-weight: bold;
    /* font-size: 3vw; */
    text-decoration: none;
    color: whitesmoke;
    
}

/* starting main section  */
.home{
    /* top: */
    display:flex;
    align-items:center;
    height:84vh;
    padding:60px 9% 0;
    color:#e2dcdc;
    background:#130808;
    visibility:hidden;
    opacity:0;
    animation: show-content 1.5s linear forwards;
    animation-delay:1.6s;
}

.home-info h1{
    font-size:55px;  
}

.home-info h2{
    font-size:32px;  
    margin-top:-10px;
}

.home-info h2 span{
    display:inline-block;
    color:transparent;
}

.home-info p{
    font-size:16px;  
    margin:10px 0 25px;
}

.home .btn-sci{
    display:flex;
    align-items:center;
}
.home .btn-sci a{
   text-decoration:none;
}

.home-info .btn-sci .sci a:hover{
   text-decoration:none;
}

.btn{
    display:inline-block;
    padding:10px 30px;
    background:#7cf03d;
    border:2px solid #7cf03d;
    border-radius:40px;
    box-shadow:0 0 10px #7cf03d;
    font-size:16px;
    color:#1f242d;
    font-weight:600;
    transition:.5s;
}

.btn:hover{
    background:transparent;
    color:#7cf03d;
    box-shadow:none;
}

.home-info .btn-sci .sci{
    margin-left:20px;
}

.home-info .btn-sci .sci a{
    display:inline-flex;
    padding:8px;
    border:2px solid #7cf03d;
    border-radius:50%;
    font-size:20px;
    color:#7cf03d;
    margin:0 8px;
}

.home-info .btn-sci .sci a:hover{
    background: #7cf03d;
    color:#1f242d;
    box-shadow:0 0 10px #7cf03d;
}

.home-img{
    margin-left:15vw;
    margin-bottom:5vw;
}

.home-img .img-box{
    position:relative;
    width:32vw;
    height:32vw;
    /* background:red; */
    border-radius:50%;
    padding:5px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.home-img .img-box::before,
.home-img .img-box::after{
content:'';
  position:absolute;
  width:500px;
  height:500px;
  background:conic-gradient(transparent,transparent,transparent,#7cf03d);
  transform:rotate(0deg);
  animation:rotate-border 10s linear infinite;
}

@keyframes rotate-border{
    100%{
        transform:rotate(360deg)
    }
}
.home-img .img-box .img-item{
    width:100%;
    height:100%;
    background:#1f242d;
    border:.1px solid #1f242d;
    border-radius:50%;
    z-index:1;
    display:flex;
    justify-content:center;
    overflow:hidden;
    position:relative;
}

.home-img .img-box .img-item img{
   position:absolute;
   display:block;
   width:100%;
   object-fit:cover;
   mix-blend-mode:lighten;
}


/* .home  */




/* skills section started */
.skill{
    text-align: center;
    margin: 5vw 2vw;
}

.skills_main{
    display: flex;
}

.skills_secondry{
    box-shadow:2px 2px 0.3px grey, -2px -2px 0.3px grey ;
    /* transform: translateY(10px); */
    transition: all 0.3s ease-in-out;
    padding: 1vw ;
    margin: 3vw 9vw;
}

.skills_secondry img{
    width: 12vw;
    height: 15vw;
}


/* starting portfolio design  */
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw 1vw;
}

.portfolio_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3vw 1vw;
    cursor:pointer;
}

.portfolio_main img{
    width: 20vw;
    height: 25vw;
}

.portfolio_secondry{
    border: 2px solid rgb(214, 212, 212);
    margin: 1vw;
    padding: 0.5vw;
    text-align: center;
    border-radius: 5px;
}

/* starting about us  */
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    text-align: center;
}

.timeline h1{
    /* border: 2px solid black; */
    /* padding-bottom: 30vw; */
    position: relative;
    top: -10vw;
}
.timeline h3{
    /* border: 2px solid black; */
    /* padding-bottom: 30vw; */
    position: relative;
    top: -9vw;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* padding-top: 15vw; */
    /* background: rgba(0, 0, 0, 0.3); */
}

.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img{
    left: -20px;
}

.timeline::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #080505;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

/* starting cv  */
.curriculumvitae{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 1vw;
}
.curriculumvitae_main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    margin: 2vw;
    /* background-color: red; */
    width: 100%;
}
.cv_secondry1{
    width:35% ;
    /* border: 2px solid black; */
    text-align: center;
}
.cv_secondry1 img{
    width:14vw;
    /* height: 10vw; */
    padding: 5vw 0vw;
    border-radius: 40%;
    
}

.cv_secondry2{
    width:65% ;
    /* border: 2px solid black; */
}

/* started contact form  */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 1vw;
    background-image: url("./images/calculator-app.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.contact_form form{
    /* display: flex;
    flex-direction: column; */
    font-size: 1.8vw;
}

.contact_form form input{
    width:50vw;
    height: 3vw;
    margin: 2vw 1vw;
    border-radius: 1vw;
}



/* started footer section  */
footer{
    padding: 1.5vw ;
    font-size: large;
    text-align: center;
}

.bars-animation{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    z-index:-1;
}

.bars-animation .bar{
    width:100%;
     height:84vh;
    background:#1f242d;
    /* border:2px solid red; */
    transform:translateY(-100%);
    animation:show-bars .5s ease-in-out forwards;
    animation-delay:calc(.1s * var(--i));
}

@keyframes show-bars{
    100%{
        transform:translateY(0%)
    }
}